

.navbar-custom {

  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.navbar-nav a , .navbar-brand {
  color: #ffffff  !important;
}

body{
    /*background: url('../IMG/fondo2.jpg') center/cover no-repeat;*/
    background-color: antiquewhite;
}

.carouselExampleIndicators{
width: 100%;
height: 700PX;
}


.noticia {
    display: flex;
    align-items: center;
  }
  
  .contenido {
    flex: 1;
    padding: 20px;
  }
  
  .contenido h2 {
    margin-bottom: 10px;
    color: brown;
  }
  
  .contenido p {
    margin-bottom: 15px;
    color: brown;
  }
  
  .noticia img {
    max-width: 40%;
  }

  .custom-container {
   
    background-color: #bb9457;
     
  }


